Repository ProjectEvergreen/greenwood, pull requests merged in 2020-03, with the labels that each got.

#290 Chore/eslint config file javascript and lint
  .eslintignore
  .eslintrc
  .eslintrc.js
  package.json
  test/smoke-test.js
  yarn.lock
Labels: 0.5.0, technical

#294 Technical/issue 293 mocha refactor
  .eslintignore
  .mocharc.js
  package.json
Labels: technical

#286 issue/275 Add Support For Dynamic Imports
  .eslintrc.js
  package.json
  packages/cli/package.json
  packages/cli/src/config/babel.config.js
  packages/cli/src/config/webpack.config.common.js
  packages/cli/test/cases/build.config.meta/build.config.meta.spec.js
  packages/cli/test/cases/build.config.title/build.config.title.spec.js
  packages/cli/test/cases/build.default.workspace-template-app/build.default.workspace-template-app.spec.js
  test/smoke-test.js
  www/components/shelf/shelf.js
  www/templates/page-template.js
  yarn.lock
Labels: enhancement

#292 Bug/issue 271 determinism
  packages/cli/src/data/schema/graph.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/src/lifecycles/serialize.js
  packages/cli/test/cases/build.data.graph/build.data.graph.spec.js
  packages/cli/test/unit/data/mocks/graph.js
  packages/cli/test/unit/data/schema/graph.spec.js
  test/smoke-test.js
  www/components/shelf/shelf.js
  www/pages/docs/data.md
  www/pages/getting-started/index.md
Labels: P0, bug, data

#298 refactor shelf property from function to array
  www/components/shelf/shelf.js
  www/templates/page-template.js
Labels: bug, website

#301 remove console logs
  www/components/shelf/shelf.js
  www/templates/page-template.js
Labels: technical

#296 Enhancement/issue 270 greenwood configuration as data
  packages/cli/src/data/queries/config.gql
  packages/cli/src/data/queries/hello.gql
  packages/cli/src/data/schema/config.js
  packages/cli/src/data/schema/hello.js
  packages/cli/src/data/schema/schema.js
  packages/cli/src/data/server.js
  packages/cli/test/cases/build.data.graph/build.data.graph.spec.js
  packages/cli/test/unit/data/mocks/config.js
  packages/cli/test/unit/data/mocks/graph.js
  packages/cli/test/unit/data/schema/config.spec.js
  packages/cli/test/unit/data/schema/graph.spec.js
  www/components/shelf/shelf.js
  www/pages/docs/data.md
  www/templates/home-template.js
  www/templates/page-template.js
Labels: CLI, data, enhancement

#302 Bug/issue 297 fix cache json with deep linking
  packages/cli/src/data/client.js
Labels: bug, data, website

#300 Enhancement/issue 128 title from data
  packages/cli/src/data/schema/graph.js
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/src/plugins/meta.js
  packages/cli/src/templates/app-template.js
  packages/cli/src/templates/index.html
  packages/cli/test/cases/build.config.title/build.config.title.spec.js
  packages/cli/test/cases/build.default.workspace-template-app/build.default.workspace-template-app.spec.js
  packages/cli/test/cases/build.default.workspace-template-app/src/templates/app-template.js
  packages/cli/test/unit/data/mocks/graph.js
  test/smoke-test.js
  www/components/shelf/shelf.js
  www/pages/docs/data.md
Labels: data, enhancement

#303 Enhancement/issue 125 meta from config
  nyc.config.js
  packages/cli/src/data/queries/config.gql
  packages/cli/src/data/schema/config.js
  packages/cli/src/lifecycles/context.js
  packages/cli/src/lifecycles/scaffold.js
  packages/cli/src/plugins/meta.js
  packages/cli/src/templates/app-template.js
  packages/cli/src/templates/page-template.js
  packages/cli/test/cases/build.config.theme/src/templates/page-template.js
  packages/cli/test/cases/build.data.graph/src/templates/blog-template.js
  packages/cli/test/cases/build.data.graph/src/templates/page-template.js
  packages/cli/test/cases/build.default.workspace-getting-started/src/templates/blog-template.js
  packages/cli/test/cases/build.default.workspace-template-page-style/src/templates/page-template.js
  packages/cli/test/cases/build.default.workspace-template-page/src/templates/page-template.js
  packages/cli/test/cases/build.default.workspace-user-directory-mapping/src/templates/page-template.js
  www/pages/docs/data.md
  www/pages/docs/layouts.md
  www/pages/getting-started/key-concepts.md
  www/templates/home-template.js
  www/templates/page-template.js
Labels: CLI, data, enhancement

#312 remove node_modules exclude from graphql loader
  packages/cli/src/config/webpack.config.common.js
Labels: CLI, P0, bug, data

#307 clean up console logging
  www/components/shelf/shelf.js
Labels: 0.5.0, technical
