Repository ProjectEvergreen/greenwood, pull requests merged in 2020-12, with the labels that each got.

#441 add stylelint for css linting in css and js files
  package.json
  stylelint.config.js
  www/assets/fonts/source-sans-pro.css
  www/components/banner/banner.css
  www/components/banner/button.css
  www/components/card/card.css
  www/components/footer/footer.css
  www/components/header/header.css
  www/components/shelf/shelf.css
  www/components/social-icons/social-icons.css
  www/styles/home.css
  www/styles/page.css
  www/styles/theme.css
  yarn.lock
Labels: technical, website

#438 Enhancement/issue 427 css bundling rollup
  packages/cli/package.json
  packages/cli/src/config/postcss.config.js
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/copy.js
  packages/cli/test/cases/build.config.markdown-custom.plugins/build.config.markdown-custom.spec.js
  packages/cli/test/cases/build.default.workspace-getting-started/build.default.workspace-getting-started.spec.js
  packages/cli/test/cases/build.default.workspace-getting-started/src/components/footer.js
  packages/cli/test/cases/build.default.workspace-template-page-style/build.default.workspace-template-page-style.spec.js
  packages/cli/test/cases/build.default.workspace-template-page-style/src/styles/style.css
  packages/cli/test/cases/build.default.workspace-template-page-style/src/templates/page-template.js
  packages/cli/test/cases/build.default.workspace-template-page-style/src/templates/page.html
  www/pages/index.html
  www/styles/page.css
  www/styles/theme.css
  yarn.lock
Labels: CLI, enhancement

#444 Bug/issue 443 html in markdown not rendering
  packages/cli/package.json
  packages/cli/src/transforms/transform.md.js
  packages/cli/test/cases/build.default.markdown/build.default.markdown.spec.js
  packages/cli/test/cases/build.default.markdown/src/pages/index.md
  yarn.lock
Labels: CLI, bug, website

#451 add github action for release branches
  .github/workflows/release.yml
Labels: technical

#447 Bug/issue 445 missing dependency
  packages/cli/src/data/cache.js
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/context.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/test/cases/eject.default/eject.default.spec.js
  test/test-bed.js
Labels: CLI, P0, bug

#458 update README with current project status and links
  README.md
Labels: documentation

#452 Docs/issue 430 update technical documentation to reflect current project status
  .github/CONTRIBUTING.md
  packages/cli/src/commands/develop.js
  packages/cli/src/commands/eject.js
  packages/cli/src/data/queries/config.gql
  packages/cli/src/data/schema/config.js
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/context.js
  packages/cli/src/templates/404.html
  packages/cli/src/templates/app-template.js
  packages/cli/src/templates/base-template.js
  packages/cli/src/templates/hello.md
  packages/cli/src/templates/index.html
  packages/cli/src/templates/index.md
  packages/cli/src/templates/page-template.js
  packages/cli/test/cases/build.config.error-public-path/build.config.error-public-path.spec.js
  packages/cli/test/cases/build.config.error-public-path/greenwood.config.js
  packages/cli/test/cases/build.config.public-path/build.config.public-path.spec.js
  packages/cli/test/cases/build.config.public-path/greenwood.config.js
  packages/cli/test/cases/build.default.webpack/build.default.webpack.spec.js
  packages/cli/test/cases/build.default.webpack/webpack.config.common.js
  packages/cli/test/cases/build.default.webpack/webpack.config.develop.js
  packages/cli/test/cases/build.default.webpack/webpack.config.prod.js
  packages/cli/test/unit/data/mocks/config.js
  packages/cli/test/unit/data/schema/config.spec.js
  www/package.json
  www/pages/about/how-it-works.md
  www/pages/docs/build.md
  www/pages/docs/component-model.md
  www/pages/docs/configuration.md
  www/pages/docs/css-and-images.md
  www/pages/docs/data.md
  www/pages/docs/front-matter.md
  www/pages/docs/index.md
  www/pages/docs/layouts.md
  www/pages/docs/markdown.md
  www/pages/docs/menus.md
  www/pages/docs/tech-stack.md
  www/pages/getting-started/branding.md
  www/pages/getting-started/build-and-deploy.md
  www/pages/getting-started/creating-content.md
  www/pages/getting-started/index.md
  www/pages/getting-started/key-concepts.md
  www/pages/getting-started/next-steps.md
  www/pages/getting-started/project-setup.md
  www/pages/guides/cloudflare-workers-deployment.md
  www/pages/guides/firebase.md
  www/pages/guides/netlify-cms.md
  www/pages/guides/s3-cloudfront.md
  www/pages/plugins/index-hooks.md
  www/pages/plugins/webpack.md
  www/styles/page.css
Labels: documentation, help wanted, website

#453 Enhancement/issue 426 restore userland postcss
  packages/cli/package.json
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lifecycles/context.js
  packages/cli/src/transforms/transform.css.js
  packages/cli/test/cases/build.config.postcss/build.config.postcss.spec.js
  packages/cli/test/cases/build.config.postcss/postcss.config.js
  packages/cli/test/cases/build.config.postcss/src/pages/hello.md
  packages/cli/test/cases/build.config.postcss/src/pages/index.html
  packages/cli/test/cases/build.config.postcss/src/pages/index.md
  packages/cli/test/cases/build.config.postcss/src/styles/main.css
  postcss.config.js
  www/components/banner/banner.css
  www/components/card/card.css
  www/components/footer/footer.css
  www/components/header/header.css
  www/components/row/row.css
  www/components/shelf/shelf.css
  www/components/social-icons/social-icons.css
  www/package.json
  www/pages/docs/build.md
  www/styles/home.css
  www/styles/page.css
  www/styles/theme.css
  yarn.lock
Labels: CLI, documentation, enhancement

#449 Bug/issue 386 graph not matching filesystem order
  packages/cli/src/lifecycles/graph.js
  packages/cli/src/lifecycles/serialize.js
  packages/cli/test/cases/build.default.workspace-nested/build.default.workspace-nested.spec.js
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2017/03/26/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2017/03/30/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2017/04/10/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2017/04/22/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2017/05/05/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2017/06/07/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2017/09/10/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2017/10/15/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2018/01/24/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2018/05/16/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2018/06/06/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2018/09/26/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2018/10/28/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2018/11/19/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2019/11/11/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2019/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2020/04/07/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2020/08/15/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/2020/10/28/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/blog/index.md
  packages/cli/test/cases/build.default.workspace-nested/src/pages/index.html
  packages/cli/test/cases/build.default.workspace-nested/src/pages/index.md
  packages/cli/test/cases/build.default.workspace-user-directory-mapping/build.default.workspace-user-directory-mapping.spec.js
  packages/cli/test/cases/build.default.workspace-user-directory-mapping/src/pages/plugins/index-hooks.md
  packages/cli/test/cases/build.default.workspace-user-directory-mapping/src/pages/plugins/index.md
  www/components/header/header.js
Labels: CLI, Data, P0, bug, documentation, help wanted

#461 fix duplicate path seperator
  packages/cli/src/config/rollup.config.js
Labels: CLI, P0, bug

#464 Fix/issue 463 pretty urls in prodServer
  packages/cli/src/lifecycles/serve.js
Labels: CLI, enhancement
