Repository ProjectEvergreen/greenwood, pull requests merged in 2020-05, with the labels that each got.

#344 bug/issue 340 Shelf's First Nav Item Expanding By Default
  www/components/shelf/shelf.js
Labels: P0, website

#335 basics of cloudflare / AWS / firebase deployment instructions
  www/pages/guides/cloudflare-workers-deployment.md
  www/pages/guides/firebase.md
  www/pages/guides/netlify-cms.md
  www/pages/guides/s3-cloudfront.md
Labels: Guide, website

#342 now deployment guide
  www/pages/guides/now.md
Labels: 0.5.1, Guide, website

#343 netlify deployment guide
  www/pages/guides/cloudflare-workers-deployment.md
  www/pages/guides/netlify-cms.md
  www/pages/guides/netlify-deploy.md
  www/pages/guides/now.md
  www/pages/guides/s3-cloudfront.md
Labels: Guide, website

#351 bug/issue 350 Fix website shelf collapse/expand event
  www/components/shelf/shelf.css
  www/components/shelf/shelf.js
Labels: website

#346 make cache file writing sync and hashed by query
  packages/cli/src/data/cache.js
  packages/cli/test/cases/build.data.graph/build.data.graph.spec.js
  www/components/shelf/shelf.js
  www/templates/page-template.js
Labels: CLI, Data, P0, bug
