Repository ProjectEvergreen/greenwood, pull requests merged in 2020-04, with the labels that each got.

#315 Enhancement/issue 274 custom frontmatter as data
  packages/cli/src/data/schema/config.js
  packages/cli/src/data/schema/graph.js
  packages/cli/src/data/schema/schema.js
  packages/cli/src/data/server.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/test/cases/build.data.graph-custom-frontmatter/build.data.graph-custom-frontmatter.spec.js
  packages/cli/test/cases/build.data.graph-custom-frontmatter/src/pages/blog/first-post.md
  packages/cli/test/cases/build.data.graph-custom-frontmatter/src/pages/blog/second-post.md
  packages/cli/test/cases/build.data.graph-custom-frontmatter/src/pages/index.md
  packages/cli/test/cases/build.data.graph-custom-frontmatter/src/templates/blog-template.js
  packages/cli/test/cases/build.data.graph/build.data.graph.spec.js
  packages/cli/test/unit/data/mocks/graph.js
  packages/cli/test/unit/data/schema/graph.spec.js
  www/components/shelf/docs.json
  www/pages/docs/front-matter.md
Labels: CLI, data, enhancement

#295 Refactor navigation and shelf into single query
  packages/cli/package.json
  packages/cli/src/data/queries/menu.gql
  packages/cli/src/data/queries/navigation.gql
  packages/cli/src/data/schema/graph.js
  packages/cli/src/data/server.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/test/cases/build.data.graph/build.data.graph.spec.js
  packages/cli/test/cases/build.data.graph/src/components/header.js
  packages/cli/test/cases/build.data.graph/src/pages/blog/first-post.md
  packages/cli/test/cases/build.data.graph/src/pages/blog/second-post.md
  packages/cli/test/unit/data/mocks/graph.js
  packages/cli/test/unit/data/schema/graph.menu.spec.js
  packages/cli/test/unit/data/schema/graph.spec.js
  www/components/header/header.js
  www/components/shelf/about.json
  www/components/shelf/docs.json
  www/components/shelf/getting-started.json
  www/components/shelf/plugins.json
  www/components/shelf/shelf.js
  www/pages/about/community.md
  www/pages/about/features.md
  www/pages/about/goals.md
  www/pages/about/how-it-works.md
  www/pages/about/index.md
  www/pages/docs/component-model.md
  www/pages/docs/configuration.md
  www/pages/docs/css-and-images.md
  www/pages/docs/data.md
  www/pages/docs/front-matter.md
  www/pages/docs/index.md
  www/pages/docs/layouts.md
  www/pages/docs/markdown.md
  www/pages/docs/menus.md
  www/pages/docs/tech-stack.md
  www/pages/getting-started/branding.md
  www/pages/getting-started/build-and-deploy.md
  www/pages/getting-started/creating-content.md
  www/pages/getting-started/index.md
  www/pages/getting-started/key-concepts.md
  www/pages/getting-started/next-steps.md
  www/pages/getting-started/project-setup.md
  www/pages/getting-started/quick-start.md
  www/pages/plugins/composite-plugins.md
  www/pages/plugins/index-hooks.md
  www/pages/plugins/index.md
  www/pages/plugins/webpack.md
  yarn.lock
Labels: CLI, data, documentation, enhancement

#308 Bug/issue 128 fix undefined link title setting
  packages/cli/src/templates/app-template.js
Labels: 0.5.0, CLI, bug

#334 show correct syntax in custom frontmatter docs
  www/pages/docs/front-matter.md
Labels: 0.5.0, documentation

#336 remove TODO comments, console.logs
  packages/cli/src/config/webpack.config.common.js
  packages/cli/src/data/cache.js
  packages/cli/src/data/client.js
  packages/cli/src/data/schema/graph.js
  packages/cli/src/lifecycles/serialize.js
  packages/cli/test/cases/build.plugins-index/greenwood.config.js
  www/templates/home-template.js
Labels: 0.5.0, technical

#339 pin wc-markdown-loader to only minors
  packages/cli/package.json
  yarn.lock
Labels: dependencies, technical

#310 Bug/issue 309 Fix Page Scroll On Initial Load
  www/components/scroll/scroll.js
Labels: website

#314 Task/issue 313 add netlify cms docs
  www/assets/netlify-admin.png
  www/assets/netlify-cms.jpg
  www/assets/netlify-create-new.png
  www/assets/netlify-deploy.png
  www/assets/netlify-git-gateway.png
  www/assets/netlify-invite.png
  www/assets/netlify-registration.png
  www/assets/netlify-workflow.png
  www/components/header/header.js
  www/pages/about/index.md
  www/pages/docs/index.md
  www/pages/getting-started/index.md
  www/pages/guides/index.md
  www/pages/guides/netlify-cms.md
  www/pages/plugins/index.md
Labels: Guide, documentation
