Repository ProjectEvergreen/greenwood, pull requests merged in 2021-11, with the labels that each got.

#778 Feature/777 greenwood init command
  .ls-lint.yml
  .mocharc.js
  packages/init/README.md
  packages/init/package.json
  packages/init/src/copy-folder.js
  packages/init/src/index.js
  packages/init/src/template/greenwood.config.js
  packages/init/src/template/package.json
  packages/init/src/template/src/pages/index.md
  packages/init/test/cases/build.default/build.default.spec.js
  packages/init/test/cases/develop.default/develop.default.spec.js
  packages/init/test/cases/init.default/init.default.spec.js
  packages/init/test/cases/init.yarn/init.yarn.spec.js
  www/pages/getting-started/quick-start.md
  yarn.lock
Labels: website, documentation, hacktoberfest-accepted, discussion, feature, Init

#783 correctly merge page template `<head>` tags with app template `<head>` tags
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/build.default.workspace-template-page-and-app/build.default.workspace-template-page-and-app.spec.js
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/templates/app.html
Labels: bug, CLI

#785 improve inline optimization marker cleanup for inline `<script>` tags
  packages/cli/src/config/rollup.config.js
  packages/cli/test/cases/build.config.optimization-inline/build.config-optimization-inline.spec.js
Labels: bug, CLI

#786 Bug/issue 777 restore init stdio terminal output
  packages/init/src/index.js
  packages/init/test/cases/build.default/build.default.spec.js
  packages/init/test/cases/develop.default/develop.default.spec.js
  packages/init/test/cases/init.yarn/init.yarn.spec.js
Labels: bug, help wanted, alpha.3, Init, v0.19.0

#712 HTML Include Plugin
  greenwood.config.js
  packages/plugin-include-html/README.md
  packages/plugin-include-html/package.json
  packages/plugin-include-html/src/index.js
  packages/plugin-include-html/test/cases/build.default-custom-element/build.default.custom-element.spec.js
  packages/plugin-include-html/test/cases/build.default-custom-element/greenwood.config.js
  packages/plugin-include-html/test/cases/build.default-custom-element/package.json
  packages/plugin-include-html/test/cases/build.default-custom-element/src/components/footer.js
  packages/plugin-include-html/test/cases/build.default-custom-element/src/pages/index.html
  packages/plugin-include-html/test/cases/build.default-link-tag/build.default.link-tag.spec.js
  packages/plugin-include-html/test/cases/build.default-link-tag/greenwood.config.js
  packages/plugin-include-html/test/cases/build.default-link-tag/src/includes/header.html
  packages/plugin-include-html/test/cases/build.default-link-tag/src/pages/index.html
  www/components/footer/footer.css
  www/components/footer/footer.js
  www/includes/footer.js
  www/pages/plugins/custom-plugins.md
  www/templates/app.html
Labels: RFC, website, documentation, Plugins, discussion, feature

#791 release v0.19.0 blog post
  www/assets/blog-images/init-scaffolding.png
  www/pages/blog/index.md
  www/pages/blog/release/v0-19-0.md
Labels: website, content, v0.19.0

#792 handle escape sequences in imported css and update specs
  packages/plugin-import-css/src/index.js
  packages/plugin-import-css/test/cases/develop.default/develop.default.spec.js
  packages/plugin-import-css/test/cases/develop.default/src/main.css
Labels: bug, Plugins

#794 exclude 404 route from MPA partial generation
  packages/cli/src/plugins/resource/plugin-optimization-mpa.js
  packages/cli/test/cases/build.config.mode-mpa/build.config.mode-mpa.spec.js
Labels: bug, CLI

#796 add source map support for greenwood serve command
  packages/cli/src/lifecycles/serve.js
  packages/cli/test/cases/serve.default/serve.default.spec.js
  packages/cli/test/cases/serve.default/src/assets/router.js.map
Labels: bug, CLI

#798 Chore/project docs update
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
Labels: chore

#801 add border bottom to active current route in navigation
  www/components/header/header.css
  www/components/header/header.js
Labels: website

#802 wrap all common index specs in the label of the calling spec
  test/smoke-test.js
Labels: chore

#805 enable eslint and fix issues
  packages/plugin-include-html/src/index.js
Labels: chore, Plugins
