Repository ProjectEvergreen/greenwood, pull requests merged in 2021-01, with the labels that each got.

#462 better handling for pages with index in their name
  packages/cli/src/transforms/transform.md.js
  packages/cli/test/cases/build.default.workspace-user-directory-mapping/build.default.workspace-user-directory-mapping.spec.js
Labels: CLI, bug, website

#466 Rfc/issue 185 resources refactor
  greenwood.config.js
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lib/resource-interface.js
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/serialize.js
  packages/cli/src/lifecycles/serve.js
  packages/cli/src/plugins/resource/plugin-node-modules.js
  packages/cli/src/plugins/resource/plugin-standard-css.js
  packages/cli/src/plugins/resource/plugin-standard-font.js
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/src/plugins/resource/plugin-standard-image.js
  packages/cli/src/plugins/resource/plugin-standard-javascript.js
  packages/cli/src/plugins/resource/plugin-standard-json.js
  packages/cli/src/plugins/resource/plugin-user-workspace.js
  packages/cli/src/transforms/transform.assets.js
  packages/cli/src/transforms/transform.html.js
  packages/cli/src/transforms/transform.interface.js
  packages/cli/src/transforms/transform.js.js
  packages/cli/src/transforms/transform.json.js
  packages/cli/src/transforms/transform.md.js
  packages/cli/src/transforms/transform.tools.js
  packages/cli/test/cases/build.default.markdown/src/pages/index.md
  packages/cli/test/cases/build.default.workspace-getting-started/build.default.workspace-getting-started.spec.js
  packages/cli/test/cases/build.default.workspace-getting-started/src/templates/blog.html
  packages/cli/test/cases/build.plugins-index/build.plugins-index.spec.js
  packages/cli/test/cases/build.plugins-index/greenwood.config.js
  packages/cli/test/cases/build.plugins-webpack/build-plugins-webpack.spec.js
  packages/cli/test/cases/build.plugins-webpack/greenwood.config.js
  packages/cli/test/cases/build.plugins.error-name/build.plugins.error-name.spec.js
  packages/cli/test/cases/build.plugins.error-name/greenwood.config.js
  packages/cli/test/cases/build.plugins.error-provider/build.plugins.error-provider.spec.js
  packages/cli/test/cases/build.plugins.error-provider/greenwood.config.js
  packages/cli/test/cases/build.plugins.error-type/build.plugins.error-type.spec.js
  packages/cli/test/cases/build.plugins.error-type/greenwood.config.js
  packages/cli/test/cases/build.plugins.resource/build.config.plugins-resource.spec.js
  packages/cli/test/cases/build.plugins.resource/greenwood.config.js
  packages/cli/test/cases/build.plugins.resource/src/foo-files/my-custom-file.foo
  packages/cli/test/cases/build.plugins.resource/src/foo-files/my-other-custom-file.foo
  packages/cli/test/cases/build.plugins.resource/src/pages/index.html
  packages/plugin-google-analytics/src/index.js
  packages/plugin-google-analytics/test/cases/default/default.spec.js
  packages/plugin-google-analytics/test/cases/default/greenwood.config.js
  packages/plugin-google-analytics/test/cases/error-analytics-id/error-analytics-id.spec.js
  packages/plugin-google-analytics/test/cases/error-analytics-id/greenwood.config.js
  packages/plugin-google-analytics/test/cases/option-anonymous/greenwood.config.js
  packages/plugin-google-analytics/test/cases/option-anonymous/option-anonymous.spec.js
  packages/plugin-polyfills/src/index.js
  packages/plugin-polyfills/test/cases/default/default.spec.js
  packages/plugin-polyfills/test/cases/default/greenwood.config.js
  www/pages/plugins/custom-plugins.md
  www/pages/plugins/index-hooks.md
  www/pages/plugins/index.md
  www/pages/plugins/resource.md
  www/pages/plugins/webpack.md
  www/templates/app.html
Labels: CLI, P0, Plugins, RFC

#459 Fix/issue 432 correct shelf and markdown plugins
  greenwood.config.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/build.config.markdown-custom.plugins/build.config.markdown-custom.spec.js
  packages/cli/test/cases/build.config.markdown-custom.settings/build.config.markdown-custom.settings.spec.js
  www/components/scroll/scroll.js
  www/components/shelf/shelf.js
  www/styles/page.css
  www/styles/theme.css
Labels: CLI, P0, bug, website

#454 resolve multiple <slot> elements rendering on the home page
  www/components/card/card.css
  www/components/card/card.js
  www/components/row/row.js
  www/package.json
  www/pages/docs/component-model.md
  www/pages/index.html
  www/styles/home.css
  yarn.lock
Labels: P0, bug, documentation, website
