Repository ProjectEvergreen/greenwood, pull requests merged in 2021-02, with the labels that each got.

#465 issue 429 javascript module imports
  packages/cli/package.json
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lib/resource-interface.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/src/lifecycles/serialize.js
  packages/cli/src/lifecycles/serve.js
  packages/cli/src/plugins/resource/plugin-node-modules.js
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/src/plugins/resource/plugin-user-workspace.js
  packages/cli/test/cases/build.default.import-node-modules/build.default.import-node-modules.spec.js
  packages/cli/test/cases/build.default.import-node-modules/package.json
  packages/cli/test/cases/build.default.import-node-modules/src/pages/index.html
  packages/cli/test/cases/build.default.import-node-modules/src/scripts/main.js
  packages/plugin-google-analytics/src/index.js
  packages/plugin-import-commonjs/README.md
  packages/plugin-import-commonjs/package.json
  packages/plugin-import-commonjs/src/index.js
  packages/plugin-import-commonjs/test/cases/default/default.spec.js
  packages/plugin-import-commonjs/test/cases/default/greenwood.config.js
  packages/plugin-import-commonjs/test/cases/default/package.json
  packages/plugin-import-commonjs/test/cases/default/src/pages/index.html
  packages/plugin-import-commonjs/test/cases/default/src/scripts/main.js
  packages/plugin-polyfills/src/index.js
  www/pages/plugins/custom-plugins.md
  www/pages/plugins/resource.md
  yarn.lock
Labels: CLI, P0, Plugins, RFC, enhancement

#467 ignore all generated build artifact directories
  .eslintignore
Labels: chore, v0.10.0

#468 update plugin README docs
  packages/cli/package.json
  packages/plugin-google-analytics/README.md
  packages/plugin-google-analytics/package.json
  packages/plugin-polyfills/README.md
  packages/plugin-polyfills/package.json
Labels: Plugins, alpha.5, bug, documentation, v0.10.0

#469 Chore/pin netlify node version v12.13.0
  netlify.toml
Labels: alpha.5, chore, v0.10.0

#471 Server Plugin API
  packages/cli/src/commands/develop.js
  packages/cli/src/lib/server-interface.js
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/serve.js
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/src/plugins/server/plugin-livereload.js
  packages/cli/test/cases/build.plugins.error-type/build.plugins.error-type.spec.js
  www/pages/plugins/index.md
  www/pages/plugins/resource.md
  www/pages/plugins/server.md
Labels: CLI, Plugins, documentation, enhancement

#473 Enhancement/issue 426 restore postcss as plugins
  greenwood.config.js
  packages/cli/package.json
  packages/cli/src/config/postcss.config.js
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lib/resource-interface.js
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/serve.js
  packages/cli/src/plugins/resource/plugin-node-modules.js
  packages/cli/src/plugins/resource/plugin-standard-css.js
  packages/cli/src/plugins/resource/plugin-standard-javascript.js
  packages/cli/src/plugins/resource/plugin-standard-json.js
  packages/cli/test/cases/build.default.import-node-modules/build.default.import-node-modules.spec.js
  packages/cli/test/cases/build.plugins.error-type/build.plugins.error-type.spec.js
  packages/plugin-import-commonjs/README.md
  packages/plugin-import-commonjs/src/index.js
  packages/plugin-import-commonjs/test/cases/default/default.spec.js
  packages/plugin-import-commonjs/test/cases/default/greenwood.config.js
  packages/plugin-import-css/README.md
  packages/plugin-import-css/package.json
  packages/plugin-import-css/src/index.js
  packages/plugin-import-css/test/cases/default/default.spec.js
  packages/plugin-import-css/test/cases/default/greenwood.config.js
  packages/plugin-import-css/test/cases/default/src/main.js
  packages/plugin-import-css/test/cases/default/src/pages/index.html
  packages/plugin-import-css/test/cases/default/src/styles.css
  packages/plugin-postcss/README.md
  packages/plugin-postcss/package.json
  packages/plugin-postcss/src/index.js
  packages/plugin-postcss/test/cases/default/default.spec.js
  packages/plugin-postcss/test/cases/default/greenwood.config.js
  packages/plugin-postcss/test/cases/default/postcss.config.js
  packages/plugin-postcss/test/cases/default/src/pages/index.html
  packages/plugin-postcss/test/cases/default/src/styles/main.css
  www/pages/docs/build.md
  www/pages/docs/css-and-images.md
  www/pages/docs/front-matter.md
  www/pages/docs/markdown.md
  www/pages/plugins/custom-plugins.md
  www/pages/plugins/index.md
  www/pages/plugins/resource.md
  www/pages/plugins/rollup.md
Labels: CLI, P0, Plugins, RFC, documentation, enhancement

#478 fix plugin-livereload per expected intercept return value
  packages/cli/src/plugins/server/plugin-livereload.js
Labels: CLI, P0, Plugins, bug

#480 hoist cssnano to cli package
  packages/cli/package.json
Labels: CLI, P0, bug

#475 Bug/issue 431 template <head> tags merge order
  packages/cli/src/config/rollup.config.js
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/build.default.workspace-template-page-and-app/build.default.workspace-template-page-and-app.spec.js
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/scripts/app-template-one.js
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/scripts/app-template-two.js
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/scripts/page-template-one.js
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/scripts/page-template-two.js
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/styles/app-template-one.css
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/styles/app-template-two.css
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/styles/page-template-one.css
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/styles/page-template-two.css
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/templates/app.html
  packages/cli/test/cases/build.default.workspace-template-page-and-app/src/templates/page.html
  packages/cli/test/cases/build.default.workspace-template-page-style/build.default.workspace-template-page-style.spec.js
  packages/cli/test/cases/build.default.workspace-template-page-style/src/templates/page.html
  packages/cli/test/cases/build.default.workspace-template-page/build.default.workspace-template-page.spec.js
  packages/cli/test/cases/build.default.workspace-template-page/src/scripts/main.js
  packages/cli/test/cases/build.default.workspace-template-page/src/styles/theme.css
  packages/cli/test/cases/build.default.workspace-template-page/src/templates/page.html
  www/pages/index.html
  www/templates/page.html
Labels: CLI, P0, bug, website

#474 restore default meta tags and update website
  packages/cli/src/templates/app.html
  packages/cli/test/cases/build.default/build.default.spec.js
  www/templates/app.html
Labels: CLI, P0, bug, website

#476 Bug/issue 456 top level pages not building correctly
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/build.default.workspace-top-level-pages/build.default.workspace-top-level-pages.spec.js
  packages/cli/test/cases/build.default.workspace-top-level-pages/src/pages/about.html
  packages/cli/test/cases/build.default.workspace-top-level-pages/src/pages/contact.md
  packages/cli/test/cases/build.default.workspace-top-level-pages/src/pages/index.html
Labels: CLI, P0, bug
