Repository ProjectEvergreen/greenwood, pull requests merged in 2022-01, with the labels that each got.

#813 external data sources for pages
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/src/lifecycles/prerender.js
  packages/cli/src/plugins/resource/plugin-optimization-mpa.js
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/build.plugins.error-type/build.plugins.error-type.spec.js
  packages/cli/test/cases/build.plugins.source/build.plugins-source.spec.js
  packages/cli/test/cases/build.plugins.source/data.json
  packages/cli/test/cases/build.plugins.source/greenwood.config.js
  packages/cli/test/cases/build.plugins.source/src/pages/about.md
  packages/cli/test/cases/build.plugins.source/src/pages/index.md
  packages/cli/test/cases/build.plugins.source/src/templates/artist.html
  www/pages/docs/data.md
  www/pages/plugins/copy.md
  www/pages/plugins/custom-plugins.md
  www/pages/plugins/source.md
Labels: documentation, CLI, Data, discussion, feature

#842 feat/841 add --template argument and clone template to init package
  packages/init/README.md
  packages/init/package.json
  packages/init/src/index.js
  packages/init/test/cases/init.template/init.template.spec.js
  yarn.lock
Labels: documentation, feature, Init

#840 blog post for v0.21.0 with external data sources
  www/pages/blog/index.md
  www/pages/blog/release/v0-21-0.md
Labels: website, content, v0.21.0

#844 remove SPA mode coming soon disclaimer
  www/pages/docs/configuration.md
Labels: website, P0, documentation

#843 remove extraneous Google Analytics meta tag
  greenwood.config.js
Labels: chore, website

#848 track missing init dependency in package.json
  packages/init/package.json
  yarn.lock
Labels: bug, P0, Init

#861 handle HTML intercepting for static compilations
  packages/cli/src/lifecycles/prerender.js
  packages/plugin-include-html/test/cases/build.default-custom-element/greenwood.config.js
  packages/plugin-include-html/test/cases/build.default-link-tag/greenwood.config.js
Labels: bug, P0, Plugins, CLI

#862 handle puppeteer fixing our invalid HTML
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/build.default.workspace-template-page/build.default.workspace-template-page.spec.js
  packages/cli/test/cases/build.default.workspace-template-page/greenwood.config.js
Labels: bug, CLI

#846 Bug/issue 845 GA plugin `ga` is undefined in development
  packages/plugin-google-analytics/README.md
  packages/plugin-google-analytics/src/index.js
Labels: bug, documentation, Plugins, breaking

#853 add support for copying user provided common meta files
  greenwood.config.js
  packages/cli/src/plugins/copy/plugin-copy-favicon.js
  packages/cli/src/plugins/copy/plugin-copy-robots.js
  packages/cli/test/cases/build.default.meta-files/build.default.meta-files.spec.js
  packages/cli/test/cases/build.default.meta-files/src/favicon.ico
  packages/cli/test/cases/build.default.meta-files/src/robots.txt
  www/favicon.ico
Labels: website, CLI, feature

#849 Feature/issue 521 complete image font content type support
  .gitattributes
  packages/cli/src/lib/resource-interface.js
  packages/cli/src/plugins/resource/plugin-standard-font.js
  packages/cli/src/plugins/resource/plugin-standard-image.js
  packages/cli/test/cases/develop.default/develop.default.spec.js
  packages/cli/test/cases/develop.default/src/assets/fox.avif
  packages/cli/test/cases/develop.default/src/assets/river-valley.webp
Labels: CLI, feature

#854 refactor html plugin serve to use graph to lookup files and content
  packages/cli/src/plugins/resource/plugin-standard-html.js
Labels: chore, CLI, v0.22.0

#865 fix logic for GA plugin shouldIntercept
  packages/plugin-google-analytics/src/index.js
Labels: bug, P0, Plugins

#866 properly return correct non intercept promise for static compilations
  packages/cli/src/lifecycles/prerender.js
Labels: bug, P0, CLI

#838 introduction of server side rendering
  .c8rc.json
  README.md
  greenwood.config.js
  packages/cli/src/commands/build.js
  packages/cli/src/commands/develop.js
  packages/cli/src/commands/serve.js
  packages/cli/src/lib/browser.js
  packages/cli/src/lib/ssr-route-worker.js
  packages/cli/src/lifecycles/bundle.js
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/context.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/src/lifecycles/prerender.js
  packages/cli/src/lifecycles/serve.js
  packages/cli/src/plugins/resource/plugin-optimization-mpa.js
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/build.config.error-mode/build.config.error-mode.spec.js
  packages/cli/test/cases/build.config.mode-mpa/build.config.mode-mpa.spec.js
  packages/cli/test/cases/build.config.mode-spa/build.config.mode-spa.spec.js
  packages/cli/test/cases/build.config.mode-ssr/build.config.mode-ssr.spec.js
  packages/cli/test/cases/build.config.mode-ssr/greenwood.config.js
  packages/cli/test/cases/build.config.mode-ssr/package.json
  packages/cli/test/cases/build.config.mode-ssr/src/components/counter.js
  packages/cli/test/cases/build.config.mode-ssr/src/components/footer.js
  packages/cli/test/cases/build.config.mode-ssr/src/routes/artists.js
  packages/cli/test/cases/build.config.mode-ssr/src/templates/app.html
  www/pages/docs/configuration.md
  www/pages/docs/data.md
  www/pages/docs/index.md
  www/pages/docs/menus.md
  www/pages/docs/server-rendering.md
  www/pages/docs/tech-stack.md
Labels: RFC, documentation, CLI, SSR, discussion, feature
