Repository ProjectEvergreen/greenwood, pull requests merged in 2023-10, with the labels that each got.

#1153 chore/upgrade gallinago 0.7.0
  package.json
  yarn.lock
Labels: dependencies

#1162 bug/issue 1161 gracefully handle bare specifiers when resolve custom loader URLs
  packages/cli/src/loader.js
Labels: bug, CLI

#1155 Bug/issue 1154 inline template strings in SSR page templates break bundling
  packages/cli/src/lifecycles/bundle.js
  packages/cli/test/cases/serve.default.ssr/serve.default.ssr.spec.js
  packages/cli/test/cases/serve.default.ssr/src/templates/app.html
Labels: bug, CLI, SSR

#1152 bug/issue 1151 custom imports not working for API routes and SSR pages
  .eslintignore
  packages/cli/package.json
  packages/cli/src/config/rollup.config.js
  packages/cli/test/cases/serve.default.ssr/serve.default.ssr.spec.js
  packages/cli/test/cases/serve.default.ssr/src/components/card.js
  packages/cli/test/cases/serve.default.ssr/src/images/logo.svg
  packages/plugin-import-css/test/cases/exp-serve.ssr/exp-serve.ssr.spec.js
  packages/plugin-import-css/test/cases/exp-serve.ssr/greenwood.config.js
  packages/plugin-import-css/test/cases/exp-serve.ssr/package.json
  packages/plugin-import-css/test/cases/exp-serve.ssr/src/api/fragment.js
  packages/plugin-import-css/test/cases/exp-serve.ssr/src/components/card.css
  packages/plugin-import-css/test/cases/exp-serve.ssr/src/components/card.js
  packages/plugin-import-css/test/cases/exp-serve.ssr/src/pages/products.js
  packages/plugin-import-css/test/cases/exp-serve.ssr/src/services/products.js
  packages/plugin-import-css/test/cases/exp-serve.ssr/src/styles/some.css
  packages/plugin-import-json/test/cases/exp-serve.ssr/exp-serve.ssr.spec.js
  packages/plugin-import-json/test/cases/exp-serve.ssr/greenwood.config.js
  packages/plugin-import-json/test/cases/exp-serve.ssr/package.json
  packages/plugin-import-json/test/cases/exp-serve.ssr/src/api/fragment.js
  packages/plugin-import-json/test/cases/exp-serve.ssr/src/components/card.js
  packages/plugin-import-json/test/cases/exp-serve.ssr/src/data/products.json
  packages/plugin-import-json/test/cases/exp-serve.ssr/src/pages/products.js
  packages/plugin-typescript/test/cases/exp-serve.ssr/exp-serve.ssr.spec.js
  packages/plugin-typescript/test/cases/exp-serve.ssr/greenwood.config.js
  packages/plugin-typescript/test/cases/exp-serve.ssr/package.json
  packages/plugin-typescript/test/cases/exp-serve.ssr/src/api/fragment.js
  packages/plugin-typescript/test/cases/exp-serve.ssr/src/components/card/card.ts
  packages/plugin-typescript/test/cases/exp-serve.ssr/src/components/card/logo.png
  packages/plugin-typescript/test/cases/exp-serve.ssr/src/components/card/styles.ts
  packages/plugin-typescript/test/cases/exp-serve.ssr/src/pages/index.html
  www/pages/docs/css-and-images.md
  yarn.lock
Labels: bug, enhancement, documentation, Plugins, CLI, SSR

#1165 bug/check for api assets build output directory before copying for vercel adapter
  packages/cli/src/config/rollup.config.js
  packages/plugin-adapter-vercel/src/index.js
Labels: bug, alpha.5, v0.29.0, Adapter

#1164 feature/issue 1136 upgrade plugin-typescript tp typescript 5.x
  .ls-lint.yml
  package.json
  packages/plugin-typescript/package.json
  packages/plugin-typescript/test/cases/options.extend-config/src/scripts/main.ts
  www/pages/docs/markdown.md
  yarn.lock
Labels: documentation, Plugins, feature

#1160 Bug/issue 1159 devServer proxy routing broken with content encoding header
  packages/cli/src/lifecycles/serve.js
  packages/cli/src/plugins/resource/plugin-dev-proxy.js
  packages/cli/test/cases/develop.default/develop.default.spec.js
Labels: bug, CLI

#1173 enhancement/Issue 1171: Include protocol with logged urls in terminal output
  packages/cli/src/commands/develop.js
  packages/cli/src/commands/serve.js
  packages/plugin-renderer-puppeteer/src/plugins/server.js
Labels: enhancement, Plugins, CLI, Data

#1170 docs/document Lit SSR caveats in Lit renderer plugin
  packages/plugin-renderer-lit/README.md
Labels: documentation, Plugins, alpha.6, v0.29.0
