Repository ProjectEvergreen/greenwood, pull requests merged in 2023-02, with the labels that each got.

#1058 Change Webcomponents Logo
  www/assets/webcomponents.jpg
  www/assets/webcomponents.svg
  www/pages/index.html
Labels: website

#1063 Deleted unwanted card.native.js file
  www/components/card/card.native.js
Labels: website

#1056 show correct label for test cases using serve smoke tests
  test/smoke-test.js
Labels: chore

#1040 remove redundant greenwood prerender config from website config
  greenwood.config.js
Labels: chore, website

#1046 remove setMaxListeners suppression call
  packages/cli/src/index.js
Labels: enhancement, CLI, alpha.2, v0.28.0

#1055 Enhancement/correctly name standard resource plugins
  packages/cli/src/plugins/resource/plugin-standard-font.js
  packages/cli/src/plugins/resource/plugin-standard-image.js
  packages/cli/src/plugins/resource/plugin-standard-json.js
Labels: CLI, alpha.2, v0.28.0

#1062 Bug/issue 1059 api routes and api calls overlap
  packages/cli/src/commands/serve.js
  packages/cli/src/lifecycles/serve.js
  packages/cli/test/cases/serve.default/serve.default.spec.js
Labels: bug, CLI

#1069 leverage `event.composedPath` for static router cross browser event delegation support
  packages/cli/src/lib/router.js
Labels: bug, CLI, Router
