Repository ProjectEvergreen/greenwood, pull requests merged in 2024-03, with the labels that each got.

#1200 enhancement/upgrade wcc v0.11.0
  packages/cli/package.json
  packages/plugin-import-jsx/package.json
  yarn.lock
Labels: enhancement, Plugins, CLI, alpha.0, v0.30.0

#1187 enhancement/Issue-1087: Upgrade Rollup to latest 3.x.x
  packages/cli/package.json
  packages/cli/test/cases/build.default.import-node-modules/build.default.import-node-modules.spec.js
  packages/cli/test/cases/serve.config.base-path/serve.config.base-path.spec.js
  packages/cli/test/cases/serve.default.ssr/serve.default.ssr.spec.js
  packages/plugin-babel/package.json
  packages/plugin-babel/src/index.js
  packages/plugin-import-commonjs/package.json
  packages/plugin-import-commonjs/test/cases/default/default.spec.js
  packages/plugin-renderer-puppeteer/test/cases/build.default/build.default.spec.js
  www/components/banner/banner.js
  www/components/header/header.js
  yarn.lock
Labels: enhancement, Plugins, CLI

#1206 feature/discussion 1117 Isolation Mode (v1)
  packages/cli/src/lib/execute-route-module.js
  packages/cli/src/lib/ssr-route-worker-isolation-mode.js
  packages/cli/src/lifecycles/config.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/src/lifecycles/serve.js
  packages/cli/test/cases/build.config.error-isolation/build.config.error-isolation.spec.js
  packages/cli/test/cases/build.config.error-isolation/greenwood.config.js
  packages/cli/test/cases/serve.default.api/serve.default.api.spec.js
  packages/cli/test/cases/serve.default.api/src/api/fragment.js
  packages/cli/test/cases/serve.default.ssr/serve.default.ssr.spec.js
  packages/cli/test/cases/serve.default.ssr/src/pages/users.js
  packages/plugin-renderer-lit/README.md
  packages/plugin-renderer-lit/src/execute-route-module.js
  packages/plugin-renderer-lit/test/cases/serve.default/serve.default.spec.js
  packages/plugin-renderer-lit/test/cases/serve.default/src/pages/users.js
  www/pages/docs/api-routes.md
  www/pages/docs/configuration.md
  www/pages/docs/server-rendering.md
Labels: documentation, Plugins, CLI, breaking, alpha.0, SSR, feature, v0.30.0

#1201 feature/issue 1197 Lit v3 upgrade and SSR fixes and enhancements
  greenwood.config.js
  package.json
  packages/cli/package.json
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lib/resource-utils.js
  packages/cli/src/lib/templating-utils.js
  packages/cli/src/lifecycles/bundle.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/build.default.import-node-modules/build.default.import-node-modules.spec.js
  packages/cli/test/cases/build.default.import-node-modules/package.json
  packages/cli/test/cases/build.default.spa/build.default.spa.spec.js
  packages/cli/test/cases/build.default.spa/package.json
  packages/cli/test/cases/build.default.ssr-static-export/build.default.ssr-static-export.spec.js
  packages/cli/test/cases/build.default.ssr-static-export/package.json
  packages/cli/test/cases/develop.default/develop.default.spec.js
  packages/cli/test/cases/develop.default/import-map.snapshot.json
  packages/cli/test/cases/develop.default/package.json
  packages/cli/test/cases/develop.ssr/develop.ssr.spec.js
  packages/cli/test/cases/develop.ssr/package.json
  packages/cli/test/cases/serve.default.ssr-static-export/package.json
  packages/cli/test/cases/serve.default.ssr-static-export/serve.default.ssr-static-export.spec.js
  packages/plugin-graphql/test/cases/query-children/package.json
  packages/plugin-graphql/test/cases/query-children/query-children.spec.js
  packages/plugin-graphql/test/cases/query-custom-frontmatter/package.json
  packages/plugin-graphql/test/cases/query-custom-frontmatter/query-custom-frontmatter.spec.js
  packages/plugin-graphql/test/cases/query-graph/package.json
  packages/plugin-graphql/test/cases/query-graph/query-graph.spec.js
  packages/plugin-graphql/test/cases/query-menu/package.json
  packages/plugin-graphql/test/cases/query-menu/query-menu.spec.js
  packages/plugin-import-jsx/package.json
  packages/plugin-polyfills/test/cases/lit/lit.spec.js
  packages/plugin-polyfills/test/cases/lit/package.json
  packages/plugin-renderer-lit/README.md
  packages/plugin-renderer-lit/package.json
  packages/plugin-renderer-lit/src/execute-route-module.js
  packages/plugin-renderer-lit/src/index.js
  packages/plugin-renderer-lit/test/cases/build.prerender.getting-started/build.prerender.getting-started.spec.js
  packages/plugin-renderer-lit/test/cases/build.prerender.getting-started/package.json
  packages/plugin-renderer-lit/test/cases/serve.default/package.json
  packages/plugin-renderer-lit/test/cases/serve.default/serve.default.spec.js
  packages/plugin-renderer-lit/test/cases/serve.default/src/api/search.js
  packages/plugin-renderer-lit/test/cases/serve.default/src/components/card.js
  packages/plugin-renderer-lit/test/cases/serve.default/src/pages/artists.js
  packages/plugin-renderer-lit/test/cases/serve.default/src/pages/users.js
  packages/plugin-renderer-puppeteer/test/cases/build.default/build.default.spec.js
  packages/plugin-renderer-puppeteer/test/cases/build.default/package.json
  packages/plugin-typescript/test/cases/options.extend-config/src/scripts/main.ts
  www/package.json
  yarn.lock
Labels: bug, question, documentation, Plugins, CLI, breaking, SSR, feature, needs upstream

#1186 enhancement/Issue-1118: Single File Bundles for SSR and API routes
  .gitignore
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lifecycles/bundle.js
  packages/cli/src/lifecycles/serve.js
  packages/cli/test/cases/build.plugins.adapter/generic-adapter.js
  packages/cli/test/cases/serve.default.ssr/serve.default.ssr.spec.js
  packages/plugin-adapter-netlify/src/index.js
  packages/plugin-adapter-netlify/test/cases/build.default/build.default.spec.js
  packages/plugin-adapter-vercel/src/index.js
  packages/plugin-adapter-vercel/test/cases/build.default/build.default.spec.js
  www/pages/plugins/adapter.md
Labels: enhancement, documentation, CLI, breaking, SSR, Adapter, needs upstream

#1209 bug/ensure minimum compatible version of wcc 0.12.1
  packages/cli/package.json
  packages/plugin-import-jsx/package.json
  yarn.lock
Labels: bug, Plugins, CLI, alpha.1, SSR, v0.30.0

#1210 bug/issue 1118 SSR pages are missing URL chunks of route chunk
  packages/cli/src/config/rollup.config.js
  packages/plugin-adapter-netlify/src/index.js
  packages/plugin-adapter-vercel/src/index.js
Labels: bug, CLI, alpha.1, v0.30.0, Adapter

#1214 docs/remove Lit renderer plugin duplicate caveats section
  packages/plugin-renderer-lit/README.md
Labels: documentation, Plugins, alpha.2, v0.30.0
