Repository ProjectEvergreen/greenwood, pull requests merged in 2024-11, with the labels that each got.

#1288 bug/issue-1253 misleading init scaffolding instructions
  packages/init/src/index.js
Labels: bug, alpha.8, Init, v0.30.0

#1289 bug/issue 1197 ensure Lit SSR hydration script loads after importmaps
  packages/plugin-renderer-lit/src/index.js
  packages/plugin-renderer-lit/test/cases/develop.default/develop.default.spec.js
  packages/plugin-renderer-lit/test/cases/develop.default/greenwood.config.js
  packages/plugin-renderer-lit/test/cases/develop.default/package.json
  packages/plugin-renderer-lit/test/cases/develop.default/src/pages/index.js
  packages/plugin-renderer-lit/test/cases/serve.default/serve.default.spec.js
  test/smoke-test.js
Labels: bug, Plugins, alpha.8, SSR, v0.30.0

#1290 bug/website header nav not centered in Chrome
  www/components/header/header.css
Labels: bug, website

#1291 docs/Update PostCSS plugin README.md to correct case sensitive name
  packages/plugin-postcss/README.md
Labels: documentation, Plugins, v0.30.1

#1303 bug/issue 1302 install fails when no args are provided
  package.json
  packages/init/src/index.js
  yarn.lock
Labels: bug, Init

#1299 bug/issue 1295 preserve default TypeScript plugin options when merging additional user provided options
  packages/plugin-typescript/README.md
  packages/plugin-typescript/src/index.js
  packages/plugin-typescript/test/cases/loaders-build.resource-page/greenwood.config.js
  packages/plugin-typescript/test/cases/loaders-build.resource-page/loaders-build.resource-page.spec.js
Labels: bug, documentation, Plugins

#1306 bug/issue 1305 ToC headings sometimes missing
  packages/cli/src/lifecycles/graph.js
Labels: bug, CLI, Content as Data

#1300 enhancement/bump plugins peer dependencies to match latest minor release range
  packages/plugin-babel/package.json
  packages/plugin-css-modules/package.json
  packages/plugin-google-analytics/package.json
  packages/plugin-graphql/package.json
  packages/plugin-import-commonjs/package.json
  packages/plugin-import-css/package.json
  packages/plugin-import-raw/package.json
  packages/plugin-include-html/package.json
  packages/plugin-polyfills/package.json
  packages/plugin-postcss/package.json
  packages/plugin-renderer-lit/package.json
  packages/plugin-renderer-puppeteer/package.json
  packages/plugin-typescript/package.json
Labels: enhancement, Plugins, v0.30.1

#1297 new website cutover and docs refresh
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/master.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  Dockerfile
  README.md
  netlify.toml
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/index.js
  packages/init/README.md
  packages/init/package.json
  packages/init/src/template/src/pages/index.html
  packages/plugin-adapter-netlify/README.md
  packages/plugin-adapter-netlify/package.json
  packages/plugin-adapter-vercel/README.md
  packages/plugin-adapter-vercel/package.json
  packages/plugin-babel/README.md
  packages/plugin-babel/package.json
  packages/plugin-css-modules/README.md
  packages/plugin-css-modules/package.json
  packages/plugin-google-analytics/README.md
  packages/plugin-google-analytics/package.json
  packages/plugin-graphql/README.md
  packages/plugin-graphql/package.json
  packages/plugin-import-commonjs/README.md
  packages/plugin-import-commonjs/package.json
  packages/plugin-import-jsx/README.md
  packages/plugin-import-jsx/package.json
  packages/plugin-import-raw/README.md
  packages/plugin-import-raw/package.json
  packages/plugin-include-html/README.md
  packages/plugin-include-html/package.json
  packages/plugin-polyfills/README.md
  packages/plugin-polyfills/package.json
  packages/plugin-postcss/README.md
  packages/plugin-postcss/package.json
  packages/plugin-renderer-lit/README.md
  packages/plugin-renderer-lit/package.json
  packages/plugin-renderer-puppeteer/README.md
  packages/plugin-renderer-puppeteer/package.json
  packages/plugin-typescript/README.md
  packages/plugin-typescript/package.json
  www/README.md
  www/layouts/app.html
Labels: question, website, documentation, Plugins, CLI, v0.30.1

#1314 enhancement/issue 1313 set `shamefully-hoist` pnpm flag in .npmrc for init scaffolding
  packages/init/src/template/.npmrc
Labels: enhancement, Init, v0.30.2

#1316 enhancement/sync additional package `peerDependencies` on Greenwood CLI
  packages/plugin-adapter-netlify/package.json
  packages/plugin-adapter-vercel/package.json
  packages/plugin-import-jsx/package.json
Labels: enhancement, Plugins, v0.30.2

#1321 enhancement/issue 1218 native import attributes parsing
  .ls-lint.yml
  packages/cli/package.json
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lib/parsing-utils.js
  packages/cli/src/lib/walker-package-ranger.js
  packages/cli/src/plugins/resource/plugin-standard-javascript.js
  packages/cli/test/cases/build.default.import-node-modules/build.default.import-node-modules.spec.js
  packages/cli/test/cases/build.default.workspace-javascript-css/build.default.workspace-javascript-css.spec.js
  packages/cli/test/cases/loaders-build.import-attributes/loaders-build.import-attributes.spec.js
  packages/cli/test/cases/loaders-build.prerender-import-attributes/loaders-build.prerender-import-attributes.spec.js
  packages/cli/test/cases/loaders-serve.config.polyfill-import-attributes/loaders-serve.config.polyfills-import-attributes.spec.js
  packages/cli/test/cases/serve.config.base-path/serve.config.base-path.spec.js
  packages/cli/test/cases/serve.default.ssr/serve.default.ssr.spec.js
  packages/cli/test/cases/serve.default.ssr/src/components/counter.js
  packages/plugin-css-modules/package.json
  packages/plugin-css-modules/src/index.js
  packages/plugin-import-commonjs/package.json
  packages/plugin-import-commonjs/test/cases/default/default.spec.js
  packages/plugin-import-jsx/package.json
  packages/plugin-renderer-lit/test/cases/serve.default/src/components/card.js
  packages/plugin-renderer-puppeteer/test/cases/build.default/build.default.spec.js
  yarn.lock
Labels: bug, enhancement, Plugins, CLI
