Repository ProjectEvergreen/greenwood, pull requests merged in 2024-06, with the labels that each got.

#1236 bug/issue 1226 nested SSR pages release branch rebase and refactor
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lifecycles/bundle.js
Labels: bug, CLI, alpha.3, v0.30.0

#1234 enhancement/general improvements and fixes for custom resource plugin integrations
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lifecycles/serve.js
  packages/cli/src/loader.js
Labels: enhancement, P0, Plugins, alpha.3, v0.30.0

#1243 bug/issue 1242 handle optimization ordering issue with functions in CSS declarations
  packages/cli/src/plugins/resource/plugin-standard-css.js
  packages/cli/test/cases/build.config.optimization-default/fixtures/expected.css
  packages/cli/test/cases/build.config.optimization-default/src/styles/main.css
Labels: bug, question, CLI

#1240 feature/issue 1232 static sitemap
  packages/cli/src/plugins/copy/plugin-copy-sitemap.js
  packages/cli/test/cases/build.default.meta-files/build.default.meta-files.spec.js
  packages/cli/test/cases/build.default.meta-files/src/sitemap.xml
  www/pages/docs/configuration.md
  www/pages/docs/css-and-images.md
Labels: documentation, CLI, feature

#1235 bug/issue 1199 gracefully handle unresolvable asset URLs during CSS optimization
  packages/cli/src/plugins/resource/plugin-standard-css.js
  packages/cli/test/cases/build.config.optimization-default/fixtures/expected.css
  packages/cli/test/cases/build.config.optimization-default/src/styles/main.css
Labels: bug, CLI, alpha.3, v0.30.0

#1239 enhancement/issue 1178 support all remaining standard pseudo-class and element selectors for CSS bundling
  packages/cli/src/plugins/resource/plugin-standard-css.js
  packages/cli/test/cases/build.config.optimization-default/fixtures/expected.css
  packages/cli/test/cases/build.config.optimization-default/src/styles/main.css
Labels: enhancement, P0, CLI

#1237 bug/issue 1223 support nested pages and API for and adapters
  packages/cli/src/config/rollup.config.js
  packages/cli/src/lifecycles/bundle.js
  packages/cli/src/lifecycles/graph.js
  packages/cli/test/cases/build.plugins.adapter/build.config.plugins-adapter.spec.js
  packages/cli/test/cases/build.plugins.adapter/generic-adapter.js
  packages/cli/test/cases/build.plugins.adapter/src/pages/api/nested/endpoint.js
  packages/cli/test/cases/build.plugins.adapter/src/pages/blog/first-post.js
  packages/cli/test/cases/build.plugins.adapter/src/pages/blog/index.js
  packages/cli/test/cases/develop.default/develop.default.spec.js
  packages/cli/test/cases/develop.default/src/pages/api/nested/endpoint.js
  packages/cli/test/cases/loaders-serve.default.ssr-import-attributes/loaders-serve.default.ssr-import-attributes.spec.js
  packages/cli/test/cases/serve.default.api/serve.default.api.spec.js
  packages/cli/test/cases/serve.default.api/src/pages/api/nested/endpoint.js
  packages/plugin-adapter-netlify/src/index.js
  packages/plugin-adapter-netlify/test/cases/build.default/build.default.spec.js
  packages/plugin-adapter-netlify/test/cases/build.default/src/pages/api/nested/endpoint.js
  packages/plugin-adapter-netlify/test/cases/build.default/src/pages/blog/first-post.js
  packages/plugin-adapter-netlify/test/cases/build.default/src/pages/blog/index.js
  packages/plugin-adapter-netlify/test/cases/build.default/src/pages/index.js
  packages/plugin-adapter-vercel/src/index.js
  packages/plugin-adapter-vercel/test/cases/build.default/build.default.spec.js
  packages/plugin-adapter-vercel/test/cases/build.default/src/pages/api/nested/endpoint.js
  packages/plugin-adapter-vercel/test/cases/build.default/src/pages/blog/first-post.js
  packages/plugin-adapter-vercel/test/cases/build.default/src/pages/blog/index.js
  packages/plugin-adapter-vercel/test/cases/build.default/src/pages/index.js
  www/pages/plugins/adapter.md
Labels: bug, enhancement, documentation, CLI, SSR, Adapter

#1244 bug/issue 1241 prerendering formatting breaks bundle mapping optimization
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/build.config.optimization-overrides/greenwood.config.js
  packages/cli/test/cases/build.config.optimization-overrides/src/pages/index.html
Labels: bug, CLI

#1251 bug/issue 1234 refine spa local dev routing for html requests
  packages/cli/src/plugins/resource/plugin-standard-html.js
  packages/cli/test/cases/develop.spa/develop.spa.spec.js
Labels: bug, P0, CLI, alpha.4, v0.30.0
